public/static/images/normals/
public/static/images/uploads/
public/static/images/thumbnails/
app/static/images/normals/*
app/static/images/uploads/*
app/static/images/thumbnails/*
*.pyc

**/venv/

### For Server ###
app/database.db
*.log
*.lock
app/version.txt
temp/*


### editor ###
.vscode/*
