{% extends "base.html" %}
{% block content %}
	<h1>{{ album['title']}}</h1>
	<p class="important">
	  Welcome! {{str}}
	</p>

	{% if edit == False %}
	<a href="album/edit?albumid={{album['albumid']}}">Edit Album</a><br>
	{% endif %}
	{% if edit == True %}
	<a href="../album?albumid={{album['albumid']}}">Back to View</a><br>
	{% endif %}

	{% if edit %}
	<div id="addPicture" class="preview">
		<form action="edit?albumid={{album['albumid']}}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="op" value="add">
		<input type="hidden" name="albumid" value="{{album['albumid']}}">
		<input type="hidden" name="albumTitle" value="{{album['title']}}">
		<input type="file" name="img" accept="image/*" required>
		<input type="submit" value="Upload">
		</form>
	</div>
	{% endif %}

	{% for p in photos %}
		<a href="/pic?picid={{ p['picid'] }}" id="pic_{{ p['picid']}}_link" class="preview">
		<div id="photo_{{ p['picid'] }}" class="photo">

			{% if edit %}
			<div class="deletePhoto">
				<form action="edit?albumid={{album['albumid']}}" method="post">
					<input type="hidden" name="op" value="delete">
					<input type="hidden" name="picid" value="{{p['picid']}}">
					<input type="hidden" name="filename" value="{{p['filename'] }}.{{p['format']}}">
					<input type="submit" value="Delete Photo">
				</form>
			</div>
			{% endif %}

			<div class="imagePreview">
				<img src="{{url_for('static', filename='images/' + p['filename'] + '.' + p['format'])}}">
			</div>
		</div>
	 </a>
	{% endfor %}

{% endblock %}