{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block content %}


	{% if type %}
	<a class="imgPrev" id="uploadPrev" onclick="router('upload')">
		+
	</a>
	{% else %}
	<a  class="imgPrev" id="uploadPrev" onclick="router('upload')">
		+
	</a>
	{% endif %}

	{% for p in images %}
		<a href="view?p={{p['imgId']}}" class="aPrev">
		<div id="imgPrev{{loop.index}}" class="imgPrev">
			<img src="{{url_for('static', filename=imgPath + p['imgId'] + '.' + p['format'])}}">
		</div>
		</a>
	{% endfor %}

	

	
{% endblock %}