{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/split.css')}}"/>
{% endblock %}
{% block headnav %}{% endblock %}
{% block content %}
	

	{% if upload %}
		<h1>testing</h1>
	
	{% else %}
	<map name="map" id="gridMap">
	{% for i in coords %}
		<area id="cell_{{loop.index}}" shape="poly" coords="{{i}}" >
	{% endfor %}
	</map>
	

	<div id="topScreen" class="split split-vertical" >
		<div id="leftScreen" class="split split-horizontal content" >
			<div id="fullView">
				{% set faSrc = url_for('static', filename='images/uploads/' + img['imgId'] + '.' + img['format']) %}
				{% set gridSrc = url_for('static', filename='images/uploads/grid_' + img['imgId'] + '.' + img['format']) %}
				
				<img  id="mainFA_image" class="pic" src="{{faSrc}}">
				<img src="{{gridSrc}}" id="grid" class="pic overlay grid" usemap="#map" {% if isGridded == true %}style="display:block"{% endif%}>
				<canvas id="mainFA_canvas" class="traceCanvas" width="0" height="0"></canvas>
				<div id="mainNormal">
					<img id="normalImg" class="pic" src="">
					<img id="normalGrid" class="pic overlay grid" src="" >
					<canvas id="norm_canvas" class="traceCanvas" width="0" height="0"></canvas>					
				</div>
				

				{% if isGridded == false %}
				<svg id="focusRing" class="" width="106" height="106">
					<circle id="svgCirc" cx="53" cy="53" r="50" stroke="green" stroke-width="6" fill-opacity="0"/>
					<circle id="svgCenter" cx="53" cy="53" r="4" stroke="red" stroke-width="2" fill-opacity="0"/>
				</svg>
				{% endif %}
			</div>
		</div>

		<div id="rightScreen" class="split split-horizontal content" >
			<div id="gradeView">
				<div id="cells" class="">
					<div class="cellRow">
						<div class="cellContainer patient-shade-2">
							<canvas id="mainCellFlippedCanvas" width="0" height="0"></canvas>
						</div>
						<div class="cellContainer normal-shade-2">
							<canvas id="normalCellFlippedCanvas" width="0" height="0"></canvas>
						</div>
					</div> <!-- END .cellRow -->
					
					<div class="cellRow">					
						<div id="gradeCell" class="cellContainer patient-shade-1">

							<canvas id="cellViewCanvas" width="0" height="0"></canvas>

							<form id="gradeForm">
								<input type="radio" name="grade" value="perfused">Perfused<br>
								<input type="radio" name="grade" value="non-perfused">Non-Perfused<br>
								<input type="radio" name="grade" value="blockage">Blockage<br>
							</form>
							<button id="submitGrade">Submit Grade</button>
						</div>

						<div id="normalCell" class="cellContainer normal-shade-1">
							<canvas id="normalCellViewCanvas" width="0" height="0"></canvas>
						</div>
					</div><!-- END .cellRow -->

					
				</div> <!-- END #cells -->
				
				<div style="clear:both;"></div>
				
				
			</div> <!-- END #gradeView -->
			<div id="settings" >
				<div onclick="toggleSettings()">X</div>
				<button id="export">Export Grade</button>
				<button id="nextCell" onclick="nextCell()">Next Cell</button>

				{% if isGridded == false %}
				<button id="submitPosition">Position</button>
				{% endif %}

				<button id="quickViewBtn">Quick View</button>

				<button onclick="router('patient')" class="patient-shade-1">Patients</button>
				<button onclick="router('normal')" class="normal-shade-1">Normals</button>
				<button onclick="router('upload')">Upload</button>
				<button id="toggleNormalsBtn" class="normal-shade-1" onclick="toggleNormalsBar()">Hide Normal Images</button>	
				<button id="toggleNormalsBtn" onclick="highlightUngradedCells()">Ungraded Cells</button>
				<button id="toggleGridsBtn" onclick="toggleGrids()">Hide Grids</button>
				<button id="nextNormalBtn" class="normal-shade-1" onclick="nextNormal()">See another Normal</button>
				<button id="gradeViewSwitchBtn" onclick="switchToGradeView()">Switch to Grade View</button>
				
			</div><!-- END #settings -->
		</div><!-- END #rightScreen -->
	</div><!-- END #topScreen -->


	<div id="bottomScreen" class="split split-vertical content" >
		<div id="controlImgBar" class="carousel_container">
			{% if controls|length > numPrev %}
			{% endif %}
			<div id='left_scroll'> < </div>
			<div class='carousel_inner'>
				<ul class='carousel_ul' id="controlImgCarouselUL">
					{% for i in controls %}
					<li>
					<div id="control{{loop.index}}" class="controlPrevItem" onclick="normalSelect(this.id)">
						<img src="{{url_for('static', filename='images/normals/' +i)}}">
					</div>
					</li>
				{% endfor %}
			</div>
			{% if controls|length > numPrev %}
			
			{% endif %}
			<div id="right_scroll"> > </div>
		</div>
	</div>

	
	<div id="viewFrameCont" class="">
		<div id="exitFrame">X</div>
		<div id="viewFrame" ></div>
	</div>
	<script>
		var xOffsetPercent = {{xOffset}}, yOffsetPercent = {{yOffset}};
		var url_view = "{{url_for('main.main_route')}}";
		var url_upload = "{{url_for('uploads.upload_route')}}";
	</script>
	{% endif %}

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/carousel.js')}}"></script>
<script src="{{url_for('static', filename='js/split.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/uploads.js')}}"></script>
<script>

$('document').ready()
{
	var gutterSize = 7;

	var topBotScreenSplit = Split(['#topScreen', '#bottomScreen'], {
		direction: 'vertical',
		gutterSize: gutterSize,
		sizes : [75,25],
		onDragEnd : function(){
			remap();
			// User dragged control bar open
			if (isControlBarOpen == false)
				toggleNormalsBar();
		} 
	});

	var leftRightScreenSplit = Split(['#leftScreen', '#rightScreen'], { 
		sizes : [65,35], 
		gutterSize: gutterSize,		
		onDragEnd : function(){
			remap();
			if (hasCellBeenDrawn == true)
				drawCellManager(currentCell);
		} 
	});

	remap();
}
</script>

{% endblock %}
