{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/split.css')}}"/>
{% endblock %}
{% block content %}
	
	<map name="map" id="gridMap">
	{% for i in coords %}
		<area id="cell{{loop.index}}" shape="poly" coords="{{i}}" onclick="cellClick({{loop.index}})">
	{% endfor %}
	</map>

	<div id="topScreen" class="split split-vertical" >
		<div id="leftScreen" class="split split-horizontal content" >
			<div id="fullView">
				{% set faSrc = url_for('static', filename='images/uploads/' + img['imgId'] + '.' + img['format']) %}
				{% set gridSrc = url_for('static', filename='images/uploads/grid_' + img['imgId'] + '.' + img['format']) %}
				
				<img  id="mainFA_image" class="pic" src="{{faSrc}}">
				<img src="{{gridSrc}}" id="grid" class="pic overlay" usemap="#map" {% if isGridded == true %}style="display:block"{% endif%}>
				<div id="mainNormal">
					<img id="normalImg" class="pic" src="">
					<img id="normalGrid" class="pic overlay" src="" >
				</div>
				

				{% if isGridded == false %}
				<svg id="focusRing" class="" width="106" height="106">
					<circle id="svgCirc" cx="53" cy="53" r="50" stroke="green" stroke-width="6" fill-opacity="0"/>
					<circle id="svgCenter" cx="53" cy="53" r="4" stroke="red" stroke-width="2" fill-opacity="0"/>
				</svg>
				{% endif %}
			</div>
		</div>

		<div id="rightScreen" class="split split-horizontal content" >
			<div id="gradeCell">
				<div id="cellExpanded">
					<canvas id="cellViewCanvas" width="0" height="0"></canvas>
				</div>
				<form id="gradeForm">
					<input type="radio" name="grade" value="perfused">Perfused<br>
					<input type="radio" name="grade" value="non-perfused">Non-Perfused<br>
					<input type="radio" name="grade" value="blockage">Blockage<br>
				</form>
				<button id="submitGrade">Submit Grade</button>
				<div id="referenceImgs">
					<img class="referenceImg" src="">
				</div>
				<input id="inputCell" type="hidden" value="0">
			</div>
			<div id="settings" >
				<div onclick="toggleSettings()">X</div>
				<button id="export">Export Grade</button>
				<button id="nextCell" onclick="nextCell()">Next Cell</button>

				{% if isGridded == false %}
				<button id="submitPosition">Position</button>
				{% endif %}


			</div><!-- END #settings -->
		</div>
	</div>
	<div id="bottomScreen" class="split split-vertical content" >
		<div id="controlImgBar" class="carousel_container">
			{% if controls|length > numPrev %}
			<div id='left_scroll'> < </div>
			{% endif %}
			<div class='carousel_inner'>
				<ul class='carousel_ul'>
					{% for i in controls %}
					<li>
					<div id="control{{loop.index}}" class="controlPrevItem" onclick="normalSelect(this.id)">
						<img src="{{url_for('static', filename='images/normals/' +i)}}">
					</div>
					</li>
				{% endfor %}
			</div>
			{% if controls|length > numPrev %}
			<div id="right_scroll"> > </div>
			{% endif %}
		</div>
	</div>

	<script>var xOffsetPercent = {{xOffset}}, yOffsetPercent = {{yOffset}};</script>
	<canvas id="normalCellViewCanvas" width="0" height="0"></canvas>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/carousel.js')}}"></script>
<script src="{{url_for('static', filename='js/split.min.js')}}"></script>
<script>

$('document').ready()
{
	
	Split(['#topScreen', '#bottomScreen'], {
		direction: 'vertical',
		sizes : [75,25],
		onDragEnd : function(){
			remap();
		} 
	});

	Split(['#leftScreen', '#rightScreen'], { 
		sizes : [65,35], 
		onDragEnd : function(){
			updateFocusRing();
			remap();
		} 
	});

	updateFocusRing();
	remap();
}
</script>
{% endblock %}
