html, body, #fullwrap
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#fullwrap
{
	position: absolute;
	width: 100%;
}
#fullView
{
	width: 100%;
	position: relative;
	background-color: red;
	overflow: hidden;
	height: 100%;
}

#main{
	width: 100%;
	height: auto;
}
.pic{position: relative; width: 100%; height: auto;}
#gridCanvas { pointer-events: none;}
#grid{display:none;}

canvas{border: solid 1px black;}
#gradeCell {
	position: absolute;
	width: 100%;
	background-color: blue;
}
#cellExpanded
{
	width: 90%;
	height: 90%;
}