:root
{
	--normal-shade-1: #0E96F1;
}
.patient-shade-1
{
	background-color: #F1C40F;
}

.patient-shade-2
{
	background-color: #F8E187;
}

.normal-shade-1
{
	background-color: #0E96F1;
}

.normal-shade-2
{
	background-color: #87CBF8;
}

html, body, #fullwrap
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #343434;
}

#fullwrap
{
	position: absolute;
	width: 100%;
}

#content
{
	position: absolute;
	width: 100%;
	height: 100%;
}



#leftScreen {height: 100%;}

#fullView
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #040404;
}

#mainFA_image{
	
}

.pic
{
	position: relative; 
	max-width: 100%;
	max-height: 100%;
	width: auto; 
	height: auto; 
}

.overlay{position: absolute; top: 0;}

.traceCanvas
{
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

#mainNormal
{
	position: relative;
}

#gridCanvas { pointer-events: none;}

#grid{
	display:none;
	top: 0;
	left: 0;
}

.imgLabel
{
	position: relative;
	width: 100%;
	padding: .2em;
	cursor: pointer;
	text-align: center;
	font-size: .8em;
	color: #fff;
}
.imgLabel p {margin: 0;}



#rightScreen
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#gradeView
{
	position: relative;
	width: 80%;
	float: left;
}


.cellContainer
{
	position: relative;
	width: 50%;
	float: left;
}

.cellCanvas
{
	filter: contrast(100%);
	padding: 5px;
}

.cellRow
{
	width: 100%;
	float: left;
}
#cells
{
	width: 100%;
}
.cellLabel
{
	margin: .2em;
}

#gradeCell form
{
	width: 49%;
	bottom: 0;
}

#gradeForm input
{
	padding: 1em;
	cursor:pointer;
}

#gradeForm label{cursor:pointer;}

input[type=button], input[type=submit], input[type=reset], button 
{
    background-color: #4CAF50;
    width: calc(100% - 4px);
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	transition: .3s;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover
{
	box-shadow: inset 0 0 0 3px rgba(0,0,0,.2);
}

#gradingButtons
{
	padding-top: 12px;
}



#settings
{
	position: relative;
	width: 20%;
	float: left;
}

#settingsIcon{
	position: relative;
	width:100%;
	height: 30px;
	left: 0;
	margin-top: 10px;
	cursor: pointer;
}
#settingsIcon svg{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	transition: .5s;
}

#settingsIcon:hover svg
{
	fill: #fff;
}

.selected
{
	border: 3px solid var(--normal-shade-1);
	box-sizing: border-box;
}

#menuCont
{
	position: relative;
}
#menuCont:hover #menuDropdownCont
{
	height: 220px;
}
#menuDropdownCont
{
	position: relative;
	margin-top: -4px;
	margin-bottom: 4px;
	left: 2px;
	width: calc(100% - 4px);
	height: 0px;
	overflow: hidden;
	background-color: white;		
	transition: .5s;
}
#menuDropdown
{
	padding-top: 4px;
	position: relative;
	width: 80%;
	left: 10%;
}

#controlImgBar
{
	position: relative;
	width: 100%;
	height: 100%;
}

.controlPrevItem
{
	cursor: pointer;
}

.arrow svg
{
	top: calc(50% - 24px);
	position: relative;
	margin: 0 auto;
	transition: .2s;
}
.arrow:hover svg
{
	fill: #FFF;
}

#contrastSlider
{
    border: none;
    border-radius: 0;
    background-color: #C0C0C0;
	height: 42px;
	/*fix out of bounds handle */
	width: calc(100% - 42px);
	float: left;
}
#cSlidFix
{
	background-color: #C0C0C0;
	height: 42px;
	width: 42px;
	float:left;
} 

#contrastSlider ui-slider-handle, #contrastSlider ui-corner-all, #contrastSlider ui-state-default
{
	top: 0;
}
#cSlideHandle
{
	border: none;
	background-color:red;
}
.ui-slider-horizontal .ui-slider-handle
{
	top:0;
	margin-left:0;
}
.ui-slider .ui-slider-handle
{
	height: 42px;
	width: 42px;
	z-index: 0;
}
#cSlideHandle:hover, #cSlideHandle:active
{
	background-color:blue;
	cursor: pointer;
}

#viewFrameCont
{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: none;
	background-color: #fff;
}
#exitFrame
{
	height: 50px;
}
#viewFrame
{
	position: relative;
	width: 100%;
	height: calc(100% - 50px);
	top: 0;
	overflow-y: scroll;
}
.imgPrev
{
	width: 25%;
	float: left;
}

.imgPrev img {
	width: 100%;
	height: auto;
}

#uploadPrev
{
	height: 100px;
	background-color: red;
}