<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

	<link rel="stylesheet" href="/static/css/style.css"/>
	{% block css %}{% endblock %}

	<title>{% block title %}Kellogg{% endblock %}</title>
</head>

<body>
	  <div id="fullwrap">
		<div id ="headnav">
			{% include "headnav.html" %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	  </div>


<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% block js %}
{% endblock %}
</body>

</html>