{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block content %}

	<div id="addPicture" class="preview">
		<form action="" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="op" value="add">
			<input type="file" name="img" accept="image/*" required>
			<input type="submit" value="Upload">
		</form>
	</div>
	
	{% for p in images %}
		<a href="view?p={{p['imgId']}}" class="aPrev">
		<div id="imgPrev{{loop.index}}" class="imgPrev">
			<img src="{{url_for('static', filename='images/uploads/' + p['imgId'] + '.' + p['format'])}}">
		</div>
		</a>
	{% endfor %}

{% endblock %}