*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

#topmenu {
    width: 100%;
    display: flex;
    align-items: center;
    background: #1c1c1c;
}

#topmenu a { text-decoration: none;}

.wrap-men-el {
    display: flex;
    margin-right: 15px;
}

.wrap-men-el:last-child { margin-right: 0;}

#topmenu-tools{
    flex: 1;
    justify-content: center;
    color: white;
}

.men-el {
    padding: 7px 25px;
    margin: 0;
    background-color: #1c1c1c;
    font-size: 1.2em;
    color: white;
    transition: 0.3s;
}

.men-el:hover{
    background-color: #b25e07;
}

#toolbarLabel{
    padding: 7px 25px;
    background-color: #8a4a07;
    display: flex;
}
.toolbarEl
{
	position: relative;
    margin: 0;
    padding: 7px 25px;
    background-color: #b25e07;
    display: flex;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
.toolbarEl:hover, .toGradeLink:hover{
    box-shadow: inset 0 0 0 3px rgba(255, 194, 142, 0.847);
}

.tooltip
{
	visibility: hidden;
    top: 100%;
    left: 0;
    width: 170px;
    background-color: rgba(128, 128, 128, .6);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}
.toolbarEl:hover .tooltip { visibility: visible; }



#wrap-home{
    position: relative;
    padding: 5% 20%;
    color: white;
    font-size: 1.2em;
}

.toGradeLink{
    display: inherit;
    padding: 1em;
    margin: .5em;
    background-color: #1c1c1c;
    transition: 0.3s;
}

#banner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blob {
    
    width: 45%;
    margin: 2.5%;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    background-color: #b25e07;
}
.blob a{
    text-decoration: none;
    color: white;
}