.imgCont
{
	width: 25.33%;
	float: left;
	margin: 4%;
}

.imgPrev
{
	width: 100%;
}

.imgPrev img {
	width: 100%;
	height: auto;
}

#uploadPrev
{
	position: relative;
	background-color: #fff;
	cursor: pointer;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
		transition: .3s;
}


#uploadPrevInner
{
	position: absolute;
	height: 50%;
	width: 100%;
	top: 25%;
	text-align: center;
}
#uploadIcon{transition:.3s;}
#uploadPrev:hover #uploadIcon
{
	fill: #343434;
}

.wrap-graders
{
	position: relative;
}

.wrap-graders-dropdown
{
	position: absolute;
	height: 0px;
	overflow: hidden;
}

.wrap-graders-dropdown-list
{
	position: relative;
}

.wrap-graders:hover .wrap-graders-dropdown
{
	height: 100px;
	overflow-y: auto;
}