:root
{
	--normal-shade-1: #0E96F1;
	--normal-shade-2: #8befff;
	--patient-shade-1:#F1C40F;
	--patient-shade-2:#f8e187;
}
.patient-shade-1{ background-color: var(--patient-shade-1); }
.patient-shade-2{ background-color: var(--patient-shade-2); }
.normal-shade-1{ background-color: var(--normal-shade-1); }
.normal-shade-2{ background-color: var(--normal-shade-2); }

html, body, #fullwrap
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #343434;
}

.lock
{
	pointer-events: none;
	background-color: rgba(0,0,0,.2);
}

#fullwrap
{
	position: absolute;
	width: 100%;
}

#content
{
	position: absolute;
	width: 100%;
	height: 100%;
}



#wrapMainScreen, #leftScreen {height: 100%;}

#fullView
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #040404;
}


.pic
{
	position: relative; 
	max-width: 100%;
	max-height: 100%;
	width: auto; 
	height: auto; 
}

.overlay{position: absolute; top: 0;}

.traceCanvas
{
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

#mainNormal
{
	position: relative;
}

#gridCanvas { pointer-events: none;}

#grid{
	display:none;
	top: 0;
	left: 0;
}

.imgLabel
{
	position: relative;
	width: 100%;
	padding: .2em;
	cursor: pointer;
	text-align: center;
	font-size: .8em;
	color: #fff;
}
.imgLabel p {margin: 0;}



#rightScreen
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.menu-btn, #menuCont
{
	display: inline-block;
	width: 33.33%;
}
.menu-btn
{
	margin: 0;
	margin-right: -5px;
	border-right: 1px solid black;
}
#menuBtn
{
	width: 100%;
}
#menuCont
{
	position: relative;
	float: right;
}
#menuCont:hover #menuDropdownCont
{
	height: calc(1.30952381 * 42px * 4); /* just a ratio I like */
}
#menuDropdownCont
{
	position: absolute;
	top: 42px;
	margin-bottom: 4px;
	left: 2px;
	width: calc(100% - 4px);
	height: 0px;
	overflow: hidden;
	background-color: white;		
	transition: .5s;
	z-index: 4;
}
#menuDropdown
{
	padding-top: 4px;
	position: relative;
	width: 80%;
	left: 10%;
	z-index: 5;
}

#gradeView
{
	position: relative;
	width: 70%;
	float: left;
	padding-left: 20px;
}

#gradeViewSwitchBtn
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	margin-right: 0;
	margin-bottom: 0;
}
#autoSaveNotif
{
	padding: 5px;
	padding-top: 13px;
	font-size: 10px;
	color: #8c8c8c;
}
.cellContainer
{
	position: relative;
	width: 50%;
	float: left;
}

.cellCanvas
{
	filter: contrast(100%);
}
#cellViewCanvas{ border:5px solid var(--patient-shade-1); }
#normalCellViewCanvas { border: 5px solid var(--normal-shade-1); }
#mainCellFlippedCanvas { border: 5px dashed var(--patient-shade-2); }
#normalCellFlippedCanvas { border: 5px dashed var(--normal-shade-2); }

.cellRow
{
	width: 100%;
	float: left;
}
#cells
{
	width: 100%;
}
.cellLabel
{
	margin: .2em;
	color: #fff;
}

#gradeCell form
{
	width: 49%;
	bottom: 0;
	padding-top: 1em;
}
#gradeForm
{
	padding-top: .5em;
}
#gradeForm input
{
	cursor:pointer;
	margin: .5em;
}

#gradeForm label{
	cursor:pointer;
	color: #fff;
}



input[type=button], input[type=submit], input[type=reset], button 
{
    background-color: #4CAF50;
    width: calc(100% - 4px);
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	transition: .3s;
}

.btn-large
{
	font-size: 1.5em;
	padding: 2em;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover
{
	box-shadow: inset 0 0 0 3px rgba(0,0,0,.2);
}



.selected
{
	border: 3px solid var(--normal-shade-1);
	box-sizing: border-box;
}



#controlImgBar
{
	position: relative;
	width: 100%;
	height: 100%;
}

.controlPrevItem
{
	cursor: pointer;
}

.arrow svg
{
	top: calc(50% - 24px);
	position: relative;
	margin: 0 auto;
	transition: .2s;
}
.arrow:hover svg
{
	fill: #FFF;
}

#contrastSettings
{
	height: 42px;
	text-align: center;
	color: #fff;
	margin: 4px 2px;
}

#contrastSettings p{
	margin: 0;
	padding-top:.5em;
	padding-bottom: .2em;
	font-size: 13.3px;
}
#contrastSlider
{
    border: none;
    border-radius: 9px;
	height: 10px;
	width: calc(100% - 18px);
	float: left;
	margin-left:9px;
	background-color: #1f1e1e;
}

#cSlideBG
{
	border: none;
	border-radius: 9px;
    background-color: #c0c0c0;
	z-index: 0;	
}

#cSlideHandle
{
	border: none;
	border-radius: 9px;
    background-color: #4CAF50;
	width: 18px;
	height: 18px;
	cursor: pointer;
	z-index: 0;
}

.popup
{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: #fff;
}
#viewFrameCont, #continueFrameCont{	display: none;}
.exitFrame
{
	height: 50px;
}
.viewFrame
{
	position: relative;
	width: 100%;
	height: calc(100% - 50px);
	top: 0;
	overflow-y: scroll;
}
.imgPrev
{
	width: 25%;
	float: left;
}

.imgPrev img {
	width: 100%;
	height: auto;
}

#uploadPrev
{
	height: 100px;
	background-color: red;
}


#wrap-form {padding: 10%}
#loadGradeForm input{ 
	margin: .5em;
	margin-bottom: 1em;
}