:root
{
	--normal-shade-1: #0E96F1;
	--normal-shade-2: #8befff;
	--patient-shade-1:#F1C40F;
	--patient-shade-2:#f8e187;
	--background-shade: #343434;
	--menu-height: 30px;
	--button-height: 42px;
	--slim-el-height: 35px;
	--dark-button: #1c1c1c;
	--dark-button-selected: #464646;
}
.patient-shade-1{ background-color: var(--patient-shade-1); }
.patient-shade-2{ background-color: var(--patient-shade-2); }
.normal-shade-1{ background-color: var(--normal-shade-1); }
.normal-shade-2{ background-color: var(--normal-shade-2); }

html, body, #fullwrap
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #343434;
	font: 13.33px Arial;
}

.lock
{
	pointer-events: none;
	background-color: rgba(0,0,0,.2);
}

#fullwrap
{
	position: absolute;
	width: 100%;
}

#content
{
	position: absolute;
	width: 100%;
	height: 100%;
}



#wrapMainScreen
{
	height: calc(100% - var(--menu-height) - 20px);
	margin-top: var(--menu-height);
	padding: 10px;
}

#leftScreen {height: 100%;}

#fullView
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #040404;
}


.pic
{
	position: relative; 
	max-width: 100%;
	max-height: 100%;
	width: auto; 
	height: auto; 
}

.overlay{position: absolute; top: 0;}

.traceCanvas
{
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

#mainNormal
{
	position: relative;
}

#gridCanvas { pointer-events: none;}

#grid{
	display:none;
	top: 0;
	left: 0;
	opacity: .5;
}

.imgLabel
{
	position: relative;
	width: 100%;
	padding: .2em;
	cursor: pointer;
	text-align: center;
	font-size: .8em;
	color: #fff;
}
.imgLabel p {margin: 0;}



#rightScreen
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.menu-btn
{
	display: inline-block;
	width: 33.33%;
	height: 35px;
}
.menu-btn
{
	margin: 0;
	margin-right: -5px;
	border-right: 1px solid black;
}
#menuBtn
{
	width: 100%;
}

#wrapMenuBar
{
	width: 100%;
	height: 35px;
	background-color: #8e8e8e;
	position: absolute;
	top: 0;
	z-index: 5;
}
.wrap-menu
{
	position: relative;
	float: left;
	width:50%;
}
.wrap-menu:hover .wrap-drop-down
{
	height: calc(1.30952381 * var(--button-height) * 4); /* just a ratio I like */
}
.wrap-drop-down
{
	position: absolute;
	top: 35px;
	margin-bottom: 4px;
	left: 2px;
	width: calc(100% - 4px);
	height: 0px;
	overflow: hidden;
	background-color: white;		
	transition: .5s;
	z-index: 4;
}
.drop-down
{
	padding-top: 4px;
	position: relative;
	width: 80%;
	left: 10%;
	z-index: 5;
}

#gradeView
{
	position: relative;
	width: 70%;
	float: left;
	padding-left: 20px;
}

#gradeViewSwitchBtn
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	margin-right: 0;
	margin-bottom: 0;
}
#autoSaveNotif
{
	padding: 5px;
	padding-top: 13px;
	font-size: 10px;
	color: #8c8c8c;
}
.cellContainer
{
	position: relative;
	width: 50%;
	float: left;
}

.cellCanvas
{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	display: block;
	filter: contrast(100%);
}
/*#cellViewCanvas{ border:5px solid var(--patient-shade-1); }*/
#normalCellViewCanvas { border: 5px solid var(--normal-shade-1); }
#mainCellFlippedCanvas { border: 5px dashed var(--patient-shade-2); }
#normalCellFlippedCanvas { border: 5px dashed var(--normal-shade-2); }

.cellRow
{
	width: 100%;
	float: left;
}
#cells
{
	width: 100%;
}
.cellLabel
{
	margin: .2em;
	color: #fff;
}

#gradeCell form
{
	width: 49%;
	bottom: 0;
	padding-top: 1em;
}


#gradeForm label{
	cursor:pointer;
	color: #fff;
}



input[type=button], input[type=submit], input[type=reset], button, .button
{
    background-color: var(--dark-button);
    width: calc(100% - 4px);
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	outline: none;
	
	transition: .3s;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active
{
	background-color: var(--dark-button-selected);
}
/* To match non-button elements*/
.button 
{
	padding: 1em 0 1em 0;
	font: 13.33px Arial;
	text-align: center;
	transition: .3s;
}
.button-selected
{
	background-color: var(--dark-button-selected) !important;
}

.btn-large
{
	font-size: 1.5em;
	padding: 2em;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover
{
	box-shadow: inset 0 0 0 3px rgba(0,0,0,.2);
}



.selected
{
	border: 3px solid var(--normal-shade-1);
	box-sizing: border-box;
}



#controlImgBar
{
	position: relative;
	width: 100%;
	height: 100%;
}

.controlPrevItem
{
	cursor: pointer;
}

.arrow svg
{
	top: calc(50% - 24px);
	position: relative;
	margin: 0 auto;
	transition: .2s;
}
.arrow:hover svg
{
	fill: #FFF;
}

#wrapContrastControl
{
	height: var(--button-height);
	text-align: center;
	color: #fff;
}

#wrapContrastControl p{
	margin: 0;
	/*font-size: 13.3px;*/
	padding: 5px;
}
#contrastSlider
{
    border: none;
    border-radius: 9px;
	height: 10px;
	width: calc(100% - 40px);
	float: left;
	margin-left: 20px;
	top: calc(var(--slim-el-height) / 2 - 5px);
	background-color: #1f1e1e;
}

#cSlideBG
{
	border: none;
	border-radius: 9px;
    background-color: #c0c0c0;
	z-index: 0;	
}

#cSlideHandle
{
	border: none;
	border-radius: 9px;
    background-color: #4CAF50;
	width: 18px;
	height: 18px;
	cursor: pointer;
	z-index: 0;
}

.popup
{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: #fff;
}
#viewFrameCont, #continueFrameCont{	display: none;}
.exitFrame
{
	height: 50px;
}
.viewFrame
{
	position: relative;
	width: 100%;
	height: calc(100% - 50px);
	top: 0;
	overflow-y: scroll;
}
.imgPrev
{
	width: 25%;
	float: left;
}

.imgPrev img {
	width: 100%;
	height: auto;
}

#uploadPrev
{
	height: 100px;
	background-color: red;
}


#wrap-form {padding: 10%}
#loadGradeForm input{ 
	margin: .5em;
	margin-bottom: 1em;
}


.checkbox
{
	position: absolute;
	width: calc(var(--slim-el-height) - 8px);
	height: calc(var(--slim-el-height) - 8px);
	padding: 4px;
	background-color:#808080;
	cursor: pointer;
}
.checkbox:after
{
	position: absolute;
	width: 29px;
	height: 29px;
	top: 3px;
	left: 3px;
	content: '';
	background-color: var(--background-shade);
}
.checkbox-selected
{
	position:absolute;	
	width: 21px;
	height: 21px;
	margin: 3px;
	background-color: #808080;	
	z-index: 6;
}

.half-width{ width: 50%; }
.third-width{ width: 33%; }

.margin-top-small {margin-top: 15px;}
.margin-bottom-small {margin-bottom: 15px;}
.btn-seperator-right { border-right: 1px solid #464646; }

.cellControlModule{
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: 300px;
	float: left;
}
.maintain-ratio {
  width: calc(50% - 15px); /* width of element inside .ratio */
  margin: 7.5px;
  display: inline-block;
  position: relative;
}
.maintain-ratio:after {
  padding-top: 100%;  /* 1:1 ratio */
  display: block;
  content: '';
}

#wrapCellControl
{
	width: 100%;
	max-height: 300px;
}
.cellBlockBorder
{
	position: absolute;
	background-color: green;
}
#mainCellBottomBorder
{
	width: calc(100% + 7.5px);
	height: 7px;
	bottom: -7px;
	left: -7.5px;
}
#mainCellRightBorder
{
	width: 7px;
	height: calc(100% + 7.5px);
	top: -7.5px;
	right: 0;
}

.button-row-el
{
	/*display: inline-block;*/
	float: left;
	margin: 0;
}
#cellNavigator{
	height: var(--button-height);
}

#contrastSliderLabel{
	width: 100%;
	margin-bottom: 10px;
	background-color: #808080;
}
#wrapContrastSlider
{
	width: 100%;
	height: var(--slim-el-height);
	background-color: #808080;
}

#wrapCellStats{
	position: absolute;
	width: calc(100% - 20px);
	top: 145px;
	bottom: 0;
	padding: 10px;
	background-color: #808080;
}
#cellNumberP,#gradeData { margin-top: 0;}
#gradeStatus { margin-bottom: .5em; }


/* ### Grading section */
#wrapGrading 
{
	height: 100%;
	width: 100%; 
	max-width: 600px;
}
#wrapGradeOptions
{
	height: calc(100% - 376px);
	width: 100%;
}
#primaryGrade{
	height: var(--button-height);
	position: relative;
}

.firstClassOptions input { display: none; }
#secondaryGrades
{ 
	height: calc(100% - var(--button-height) - 15px);
	overflow: auto;
	color: #fff;
	/* TODO: bottom of scroll bar gets hidden */
}
#wrapAssociatedOptions { height: 100%; }
#associatedFeatures { width: 100%; }
.secondClassOptions
{
	padding: 10px;
}
.secondClassOptions input { display: none; }

.option-box-element
{
	position: relative;
	height: var(--slim-el-height);
	width: 70%;
	float: left;
	/*background-color: blue;*/
}
.option-box-element:last-child, .example-box-element:last-child{margin-bottom:0;}
.options-label
{
	position:relative;
	width: calc(100% - 20px - var(--button-height));
	height: 100%;
	left: calc(10px + var(--button-height));
	padding-left: 10px;
	display: inline-block;
	background-color:var(--dark-button);
	line-height: calc(var(--button-height) - 13.33px / 2); /* TODO: fix hacky*/
	cursor: pointer;
}
.example-box-element
{
	position: relative;
	width: calc(30% - 15px);
	height: var(--slim-el-height);
	left: 15px;
	float: left;
	background-color: var(--dark-button-selected);
}
.wrapExampleSelection
{
	position: relative;
	margin: 0 auto;
	width: 93px;
	height: 100%;
}
.wrapExampleSelection svg { float: left; width: 34px; cursor: pointer;}
.selectExampleBtn
{
	position: relative;
	width: 25px;
	height: 25px;
	/*left: calc(50% - 12.5px);*/
	top: calc( (var(--slim-el-height) - 25px) / 2);
	float: left;
	background-color: grey;
	cursor: pointer;
}
.selectExampleBtn p
{
	margin: 0;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}


#wrapGradeSubmit { width: 100%; }


/* ### examples library */
.asscFeatureEl {display: none;}
.asscFeatureEl2 {opacity: 0;}
#associatedFeatureExample
{
	position: absolute;
	width: 100%;
	height: 100%;
}
#associatedFeaturePreview
{ 
	width: 100%; 
	height: 100%;
	box-shadow: 0px 0px 7px 2px #6bb8de;
}
#asscFtNameExampleInfo
{
	position: absolute;	
	width: 100%;
	height: 32px;
	padding-top: 10px;
	background-color:#495d73;
	transition: .3s;
	z-index:2;
	color: white;
}
#asscFtNameExampleInfo h2 {
	margin: 10px;

}
#asscFtNameExampleInfo p, #asscFtNameExampleInfo h2
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 10px;
}
masscFtNameExampleInfo:hover
{
	height: auto;
	min-height: 32px;
}
#asscFtNameExampleInfo:hover > p{
	overflow: visible;
	white-space: normal;
}
.selectedAssociatedFeature
{
	background-color: #6b95e4 !important;
	box-shadow: 0px 0px 5px 0px #6b95e4;
}


/* ### Toolbar */
#toolbar
{
	position: absolute;
	width: 100px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: rgba(255,0,0,.5);
}
.toolbarEl
{
	width: 60px;
	height: 60px;
	padding: 20px;
	transition: .3s;
}
.toolbarEl:hover{
	background-color: rgba(255,255,255,.5);
}
.toolbarEl img
{ 
	width: 100%;
	height: 100%;
}