{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block content %}


	{% if type %}
	<a class="imgCont" id="uploadPrev" onclick="router('upload')">
		<div id="uploadPrevInner">
		Upload<br>
		<svg id="uploadIcon" fill="#C0C0C0" height="48" viewBox="0 0 24 24" width="48">
			<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
		</svg>
		</div>
	</a>
	{% else %}
	<a  class="imgPrev" id="uploadPrev" onclick="router('upload')">
		+
	</a>
	{% endif %}

	{% for p in images %}
	<div id="" class="imgCont">
		{% if type == 'patient' %}
		<a href="view?p={{p['imgId']}}" class="aPrev">
			<div id="imgPrev{{loop.index}}" class="imgPrev">
				<img src="{{ imgPath + p['imgId'] + '.' + p['format'] }}">
			</div>
		</a>
			{% if graded %}
				checkmark
				num times graded
			{% else %}
				Not graded
			{% endif %}
		{% else %}
			<div id="imgPrev{{loop.index}}" class="imgPrev">
				<img src="{{ imgPath + p['imgId'] + '.' + p['format'] }}">
			</div>
		{% endif %}
		
	</div>
	{% endfor %}

	

	
{% endblock %}