{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="/static/css/uploads.css" />
{% endblock %}
{% block content %}

	
	
	{% if uploaded %}
		
		<div id="normalPrev">
			<div id="uploadImgCont">
				<img id="nImg" src="{{imgSrc}}" alt="{{imgId}}">
			</div>

			<h2 id="instruct">Center the red dot on the optic disk.<br/>Use the up/down arrow keys to 
				resize the circle.</h2>

			<svg id="focusRing" class="" width="106" height="106">
				<circle id="svgCirc" cx="53" cy="53" r="50" stroke="green" stroke-width="6" fill-opacity="0"/>
				<circle id="svgCenter" cx="53" cy="53" r="4" stroke="red" stroke-width="2" fill-opacity="0"/>
			</svg>

			<button id="submitPosition">Submit</button>
			<input type="hidden" id="type" value="{{type}}">
			
			<div id="loading">Processing...</div>

			<div id="continueOptions">
				<button onclick="router('upload')">Back to Uploading</button>
				{% if type != 'normal' %}
				<a href="{{url_for('view.main_route', p=imgId)}}"><button>Grade Uploaded Image</button></a>
				{% endif %}
			</div>

		</div>

	{% else %}
		<div id="addPicture">
			<form  method="POST" enctype="multipart/form-data" id="uploadForm">
				<input type="hidden" name="op" value="add">
				<div id="fileCont" class="popUpSection">
					{% set ico = url_for('static', filename='images/ic_file_upload_white_48px.svg') %} 
					<input id="fileField" class="inputfile" type="file" name="img" accept="image/*" required>
					<label for="fileField" id="fileFieldLabel"><div id="fileInner"><img src="{{ico}}"><span id="fSpan">Choose a file...<span></div></label>
				</div>
				<div id="popHalfFirst" class="popUpSection pop-half">
					<label for="imgType">Type: </label>
					<select id="imgType" name="type" required>
						<option value="patient">Patient Image (for grading)</option>
						<option value="normal">Normal Image</option>
					</select>
				</div>
				<div id="" class="popUpSection pop-half">
					<label for="eye">Eye: </label>
					<select name="eye" id="eye" required>
						<option value="right">Right Eye</option>
						<option value="left">Left Eye</option>
					</select>
				</div>
				<div style="clear:both"></div>
				<div id="" class="popUpSection">
					<label for="refName">Reference Name: </label>
					<input id="refName" type="text" name="refName" value="">
				</div>
				<div id="" class="popUpSection">				
					<label for="commentsField">Comments: </label>
					<textarea rows="4" cols="" name="comments" form="uploadForm" id="commentsField"></textarea>
				</div>
				<div id="" class="popUpSection">				
					<input id="upload" type="submit" value="Upload">
				</div>
			</form>
			<!--
						<div id="" class="popUpSection">				
					<button id="uploadSubmitBtn" onclick="router('uploadSubmit')">Upload</button>
			</div>
			-->
		</div>
    {% endif %}
	


{% endblock %}


{% block js %}
<script src="{{url_for('static', filename='js/uploads.js')}}"></script>
{% endblock %}