{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/split.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
{% endblock %}
{% block headnav %}{% endblock %}
{% block content %}
	

	{% if upload %}
		<h1>testing</h1>
	
	{% else %}
	<map name="map" id="gridMap">
	{% for i in coords %}
		<area id="cell_{{loop.index}}" shape="poly" coords="{{i}}" >
	{% endfor %}
	</map>
	

	<div id="topScreen" class="split split-vertical" >
		<div id="leftScreen" class="split split-horizontal content" >
			<div id="fullView">
				{% set faSrc = url_for('static', filename='images/uploads/' + img['imgId'] + '.' + img['format']) %}
				{% set gridSrc = url_for('static', filename='images/uploads/grid_' + img['imgId'] + '.' + img['format']) %}
				<div id="mainImgLabel" class="imgLabel patient-shade-1"><p>Grade Image</p></div>
				<div style="position:relative;">
					<img  id="mainFA_image" class="pic" src="{{faSrc}}">
					<img src="{{gridSrc}}" id="grid" class="pic overlay grid" usemap="#map" {% if isGridded == true %}style="display:block"{% endif%}>
					<canvas id="mainFA_canvas" class="traceCanvas" width="0" height="0"></canvas>
				</div>
				<div id="mainNormalImgLabel" class="imgLabel normal-shade-1"><p>Normal Image</p></div>				
				<div id="mainNormal">
					<img id="normalImg" class="pic" src="">
					<img id="normalGrid" class="pic overlay grid" src="" >
					<canvas id="norm_canvas" class="traceCanvas" width="0" height="0"></canvas>					
				</div>
				
			</div>
		</div>

		<div id="rightScreen" class="split split-horizontal content" >
			<div id="gradeView">
				<div id="cells" class="">

					<div class="cellRow" id="gradeButtons"> <!-- Grading buttons -->
						<div class="cellContainer patient-shade-1">
							<form id="gradeForm">
								<input type="radio" name="grade" value="perfused" id="gradePerf"><label for="gradePerf">Perfused</label><br>
								<input type="radio" name="grade" value="non-perfused" id="gradeNonPerf"><label for="gradeNonPerf">Non-Perfused</label><br>
								<input type="radio" name="grade" value="blockage" id="gradeBlock"><label for="gradeBlock">Blockage</label><br>
							</form>
							<button id="submitGrade">Submit Grade</button>
						</div>

						<div id="gradingButtons" class="cellContainer patient-shade-1">
							<button id="nextNormalBtn" class="normal-shade-1" onclick="nextNormal()">Cycle Normal</button>
							<button id="nextCell" onclick="nextCell()">Next Cell</button>
						</div>
					</div>

					<div class="cellRow"><!-- Selected cells -->
						<div id="gradeCell" class="cellContainer patient-shade-1">
							<p class="cellLabel">Selected Cell</p>
							<canvas id="cellViewCanvas" class="cellCanvas" width="0" height="0"></canvas>
						</div>

						<div id="normalCell" class="cellContainer normal-shade-1">
							<p class="cellLabel">Normal Cell</p>							
							<canvas id="normalCellViewCanvas" class="cellCanvas" width="0" height="0"></canvas>
						</div>
					</div><!-- END .cellRow -->

					<div class="cellRow"> <!-- Flipped/mirrored cells -->
						<div class="cellContainer patient-shade-2">
							<canvas id="mainCellFlippedCanvas" class="cellCanvas" width="0" height="0"></canvas>
							<p class="cellLabel">Selected Cell - Flipped</p>							
						</div>
						<div class="cellContainer normal-shade-2">
							<canvas id="normalCellFlippedCanvas" class="cellCanvas" width="0" height="0"></canvas>
							<p class="cellLabel">Normal Cell - Flipped</p>
						</div>
					</div> <!-- END .cellRow -->					
				</div> <!-- END #cells -->

				
				
				<div style="clear:both;"></div>
				
				
			</div> <!-- END #gradeView -->
			<div id="settings" >
				<div id="settingsIcon" onclick="toggleSettings()">
					<svg fill="#C0C0C0" height="48" viewBox="0 0 24 24" width="48">
						<path id="left" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
						<path id="right" style="display:none" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
					</svg>
				</div>
				
				<div id="menuCont">
					<button id="menuBtn">Menu</button>
					<div id="menuDropdownCont">
						<div id="menuDropdown">
							<button id="export">Export Grade</button>
							<button onclick="router('patient')" class="patient-shade-1">Patients</button>
							<button onclick="router('normal')" class="normal-shade-1">Normals</button>
							<button onclick="router('upload')">Upload</button>
						</div>
					</div>
				</div>
				
			

				

				<button id="quickViewBtn">Quick View</button>
				<button id="toggleUngradedCellBtn" onclick="highlightUngradedCells()">Ungraded Cells</button>
				<button id="toggleNormalsBtn" class="normal-shade-1" onclick="toggleNormalsBar()">Hide Normal Images</button>				
				<button id="toggleGridsBtn" onclick="toggleGrids()">Hide Grids</button>
				
				<button id="gradeViewSwitchBtn" onclick="switchToGradeView()">Switch to Grade View</button>
				
				<div id="contrastSettings" class="">
					Contrast: <span id="contrastOutputPercent">100</span>%<br>
					<div id="contrastSlider" class=""></div><div id="cSlidFix"></div>
				</div>
				
				
			</div><!-- END #settings -->
		</div><!-- END #rightScreen -->
	</div><!-- END #topScreen -->


	<div id="bottomScreen" class="split split-vertical content" >
		<div id="controlImgBar" class="carousel_container">
			{% if controls|length > numPrev %}
			{% endif %}
			<div id='left_scroll' class="arrow">
				<svg fill="#C0C0C0" height="48" viewBox="0 0 24 24" width="48">
					<path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
				</svg>
			</div>
			<div class='carousel_inner'>
				<ul class='carousel_ul' id="controlImgCarouselUL">
					{% for i in controls %}
					<li>
					<div id="control{{loop.index}}" class="controlPrevItem" onclick="normalSelect(this.id)">
						<img src="{{i}}">
					</div>
					</li>
				{% endfor %}
			</div>
			{% if controls|length > numPrev %}
			
			{% endif %}
			<div id="right_scroll" class="arrow">
				<svg fill="#C0C0C0" height="48" viewBox="0 0 24 24" width="48">
					<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
				</svg>
			</div>
		</div>
	</div>

	
	<div id="viewFrameCont" class="">
		<div id="exitFrame"><button>Close</button></div>
		<div id="viewFrame" ></div>
	</div>
	<script>
		var xOffsetPercent = {{xOffset}}, yOffsetPercent = {{yOffset}};
		var url_view = "{{url_for('main.main_route')}}";
		var url_upload = "{{url_for('uploads.upload_route')}}";
	</script>
	{% endif %}

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/carousel.js')}}"></script>
<script src="{{url_for('static', filename='js/split.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/uploads.js')}}"></script>
<script>

$('document').ready()
{
	var gutterSize = 7;

	var topBotScreenSplit = Split(['#topScreen', '#bottomScreen'], {
		direction: 'vertical',
		gutterSize: gutterSize,
		sizes : [75,25],
		onDragEnd : function(){
			remap();
			// User dragged control bar open
			if (isControlBarOpen == false)
				toggleNormalsBar();
		} 
	});

	var leftRightScreenSplit = Split(['#leftScreen', '#rightScreen'], { 
		sizes : [65,35], 
		gutterSize: gutterSize,		
		onDragEnd : function(){
			remap();
			if (hasCellBeenDrawn == true)
				drawCellManager(currentCell);
		} 
	});

	remap();
}
</script>

{% endblock %}
