<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}"/>	
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/uploads.css')}}"/>
	{% block css %}{% endblock %}

	<title>{% block title %}Kellogg{% endblock %}</title>
</head>

<body>
	  <div id="fullwrap">
		{% block topmenu %}
		<div id ="topmenu">
			{% include "topmenu.html" %}
		</div>
		{% endblock %}
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	  </div>


<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>

{% block js %}
{% endblock %}
</body>

</html>