<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}"/>	
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/uploads.css')}}"/>
	{% block css %}{% endblock %}

	<title>{% block title %}Kellogg{% endblock %}</title>
</head>

<body>
	  <div id="fullwrap">

		<div id ="topmenu">
			<div class="wrap-men-el">
				<a class="men-el" href="{{ url_for('main.main_route') }}">Home</a>
				<a class="men-el" href="{{ url_for('main.gallery_route', category='patient') }}">Grade</a>
				<a class="men-el" href="{{ url_for('uploads.main_route') }}">Upload</a>
			</div>
	
			<div class="wrap-men-el" id="topmenu-tools">
				<div id="toolbarLabel"><span>Toolbar:</span></div>
				{% block toolbar %}
				{% endblock %}
			</div>
	
			<div class="wrap-men-el">
				<a class="men-el" href="{{ url_for('user.main_route') }}">Account</a>
				<a class="men-el" href="{{ url_for('user.logout_route') }}">Logout</a>
			</div>
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	  </div>


<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>

{% block js %}
{% endblock %}
</body>

</html>