{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block content %}


	{% for p in images %}
	<div class="imgCont">
		{% set src = url_for('content', filename='uploads/thumbnails/' + p['imgId'] + '.' + p['format']) %}
		{% if category == 'patient' %}
		<form class="deleteImg" action="{{ url_for('uploads.main_route') }}" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="op" value="delete">
			<input type="hidden" name="imgId" value="{{p['imgId']}}">
			<input type="submit" value="X">
		</form>
		<a href="grade?p={{p['imgId']}}" class="aPrev">
			<div id="imgPrev{{loop.index}}" class="imgPrev">
				<img src="{{ src }}">
			</div>
			{% if p['referenceName'] %}
			<p>Reference Name: {{ p['referenceName'] }}</p>
			{% endif %}
			<p>UUID: {{ p['imgId'] }}</p>
		</a>
		{% if isImageGraded[p['imgId']] %}
				<div class="wrap-menu" style="width:100%">
					<button class="dark-button">Grading Info</button>
					<div class="wrap-drop-down" style="background-color:#eee">
						<div class="drop-down"><!-- TODO: remove inline -->
							<h4>Users currently grading:</h4>
							<ul>
								{% for g in currentGraders[p['imgId']] %}
								<li>{{ g['userId'] }} - Session {{ g['sessionId']}}</li>
								{% endfor %}
							</ul>
							{% if finishedGraders[p['imgId']] %}
							<h4>Users finished grading:</h4>
							<ul>
								{% for g in finishedGraders[p['imgId']] %}
								<li>{{g}}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</div> <!-- END .wrap-graders-dropdown-list -->
					</div>
				
				</div>
			{% else %}
				<button class="dark-button">No grading data</button>
			{% endif %}
		{% else %}
			<div id="imgPrev{{loop.index}}" class="imgPrev">
				<img src="{{ src }}">
			</div>
		{% endif %}

		
	</div>
	{% endfor %}
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/gallery.js')}}"></script>
{% endblock %}