{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/split.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
{% endblock %}
{% block headnav %}{% endblock %}
{% block content %}
	
	

	
	
	<div id="wrapMenuBar">
		<div id="dropMenu1" class="wrap-menu  btn-seperator-right">
			<button id="menuBtn" class="menu-btn">Menu</button>
			<div id="menuDropdownCont" class="wrap-drop-down">
				<div id="menuDropdown" class="drop-down">
					<a href="{{ url_for('main.main_route', gallery='patient') }}"><button class="patient-shade-1">Patients</button></a>
					<a href="{{ url_for('main.main_route', gallery='control') }}"><button class="control-shade-1">Controls</button></a>
					<a href="{{ url_for('uploads.main_route') }}"><button>Upload</button></a>
					<a href="{{ url_for('docs.main_route') }}"><button>Help / Info</button></a>
				</div>
			</div>
		</div> <!-- END #menuBar -->

		<div id="toolbar" class="wrap-menu">
			<div class="toolbarEl btn-seperator-right">
				<button id="showControlBtn" class="toolbarEl">Show Control</button>
				<span class="tooltip">Hold down to show the control image</span>
			</div><!--
			--><div class="toolbarEl btn-seperator-right">
				<button id="toggleGridsBtn" class="toolbarEl" onclick="toggleGrids()">Hide grid</button>
				<span class="tooltip">Click to hide or show the grid</span>
			</div><!--
			--><div class="toolbarEl btn-seperator-right">
				<button id="export" class="toolbarEl">Export grade</button>
				<span class="tooltip">Save the grade data to your computer</span>
			</div>
			<!--
			--><div class="toolbarEl btn-seperator-right">
				<button id="highlight" class="toolbarEl">Ungraded</button>
				<span class="tooltip">Ungraded cells will be outlined in red</span>
			</div>
		</div><!-- END #toolbar -->

	</div><!-- END #wrapMenuBar -->

	<div id="wrapMainScreen">
		<div id="leftScreen" class="split split-horizontal" >
			<div id="fullView">
				{% if not img['imgId'] %}
						<a href="{{ url_for('main.main_route', gallery='patient') }}" class="patient-shade-1 btn-large">Click to Grade an Existing Image</a>
						<a href="{{ url_for('uploads.main_route') }}" class="btn-large">Click to Upload a New Control or Patient Image</a>
				{%  else %}

				<div style="position:relative;" id="wrap-mainImg">
					<img  id="mainFA_image" class="pic" src="{{ imgSrc }}" data-eye-side="{{img['side']}}">
					<img src="{{ gridSrc }}" id="grid" class="pic overlay grid" usemap="#wrap-mainImg_gridMap" style="display:block">
					<!-- <canvas id="mainFA_canvas" class="traceCanvas" width="0" height="0"></canvas> -->
				</div>
				<div id="mainControl">
					<img id="controlImg" class="pic" src="">
					<!--<img id="controlGrid" class="pic overlay grid" src="" >-->
					<canvas id="norm_canvas" class="traceCanvas" width="0" height="0"></canvas>
					<h2 style="position:absolute;color:white;top:10px;">Control Image</h2>										
				</div>
				{% endif %}
			</div>
		</div>

		{% if not img['imgId'] %}
		{% set lock = 'lock' %}
		{% endif %}
		<div id="rightScreen" class="split split-horizontal {{lock}}" >
			<div id="wrap-cell-controlAndGrades">
				
				<div id="wrapCellControl" class="margin-bottom-small">
					
					<div class="maintain-ratio" id="wrap-cellCanvas">
						<div id="cellPreview" class="cellControlModule">
							<canvas id="cellViewCanvas" class="cellCanvas" width="0" height="0"></canvas>
						</div>
					</div><!--
					--><div id="wrapCellTools">
						<div id="cellTools" class="cellControlModule">
							<div id="cellNavigator" class="margin-bottom-small">
								<button id="prevCell" class="half-width btn-row-el btn-seperator-right" style="width:48%" onclick="gotoCell('prev')">Prev Cell</button>						
								<button id="nextCell" class="half-width btn-row-el" style="width:48%"onclick="gotoCell('next')">Next Cell</button>
							</div>

							<div id="wrap-control-brightness" class="wrap-slider margin-bottom-small">
								<div class="slideLabel">
									<p>Brightness: <span id="brightness-value">100</span>%</p>
								</div>
								<div class="slideBG">
									<div id="brightness-slider" class="slider"></div>
								</div>
							</div>

							<div id="wrapCellStats">
								<p id="cellNumberP">Cell ID: <span id="cellNumber"></span></p>
								<p id="numGradedP">Completed: <span id="numGraded"></span> cells</p>
								<p id="gradeStatus"></p>
								<p id="gradeData"></p>
								<p id="notif"></p>
							</div>
						</div><!-- END #cellTools -->
					</div>

				</div><!-- END #wrapCellControl -->

				<div id="wrap-grades" class="margin-bottom-small">

					<div class="wrap-grades-input submit-input-container">
						
						
						<input type="radio" class='input-required' name="grade" value="perfused" id="gradePerf" data-tostyle="label[for='gradePerf']" data-grade-header="Perfusion Value">
						<input type="radio" class='input-required' name="grade" value="hypo-perfused" id="gradeHypoPerf" data-tostyle="label[for='gradeHypoPerf']" data-grade-header="Perfusion Value">
						<input type="radio" class='input-required' name="grade" value="non-perfused" id="gradeNonPerf" data-tostyle="label[for='gradeNonPerf']" data-grade-header="Perfusion Value">
						<input type="radio" class='input-required' name="grade" value="NA" id="gradeNA" data-tostyle="label[for='gradeNA']" data-grade-header="Perfusion Value">
						<div class="flex-radio-row">
						<label for="gradePerf" id="holla" class="button btn-row-el selectable-button color-hl-dark">Perfused</label>
						<label for="gradeHypoPerf" class="button btn-row-el selectable-button color-hl-dark">Hypoperfused</label>
						<label for="gradeNonPerf" class="button btn-row-el selectable-button color-hl-dark">Non-Perfused</label>
						<label for="gradeNA" class="button btn-row-el selectable-button color-hl-dark">NA / Ungradeable</label>
						</div>
						<div id="wrap-associatedFeatures" class="flex-wrap-row-centered">
							{% for a in associatedFeatures %}
							<div class="option-box-element">
								<input type="checkbox" id="option_{{a.optionId}}" name="associatedFeature" value="{{a.name}}" data-tostyle="#checkbox-select_{{a.optionId}}, #label_{{a.optionId}}" data-grade-header="Feature - {{a.name}}">
								<label for="option_{{a.optionId}}" class="checkbox"><div class="check-select selectable-checkbox" id="checkbox-select_{{a.optionId}}"></div></label>
								<label for="option_{{a.optionId}}" class="options-label selectable-button" id="label_{{a.optionId}}">{{a.name}}</label>
								<div class="selectExampleBtn" onclick="toggleExample(this, '{{a.name}}')"><p>?</p></div>
							</div>
							{% endfor %}
						</div>

					</div>

					<button id="submitGrade" class="color-hl-light">Submit</button>
				
				</div><!--END #wrap-grades -->

			</div> <!-- END #wrap-cell-controlAndGrades -->

			<div class="seperator-vertical"></div>

			<div id="wrapComparisons">
				<div id="wrapControlComparisons" class="half-height">
					<div class="maintain-ratio-full" style="background-color:#1d1d1d">
						<div id="controlCell" class="cellControlModule">
								<canvas id="controlCellViewCanvas" class="cellCanvas" width="0" height="0"></canvas>
								<p style="position:absolute" id="controlCellStatus">Loading...</p>	
						</div>
						<div onclick="getNextControl(-1)" class="select-image select-image-prev"></div>												
						<div onclick="getNextControl(1)" class="select-image select-image-next"></div>												
					</div>
					<h2>Control Cell</h2>
				</div>

				<div id="wrapAssociatedFeatureExamples" class="half-height">
					<div class="maintain-ratio-full">
						<div id="associatedFeatureExample" class="cellControlModule asscFeatureEl">
							<img id="associatedFeaturePreview" src=""/>
							<div onclick="getExample(-1)" class="select-image select-image-prev"></div>							
							<div onclick="getExample(1)" class="select-image select-image-next"></div>							
						</div> <!-- END #associatedFeatureExample -->
					</div>
					<div id="asscFtNameExampleInfo" class="asscFeatureEl">
						<p id="asscFtDesc"></p>
					</div>
				</div>
			</div> <!-- END #wrapComparsions -->
			
		</div><!-- END #rightScreen -->

		<div id="wrapSideBar"></div><!-- END #wrapSideBar -->
	</div><!-- END #wrapMainScreen -->

	<div id="wrapStatusBar"></div><!-- END #wrapStatusBar -->
	
	<div id="viewFrameCont" class="popup">
		<div id="exitFrame" class="exitFrame"><button id="closeBtn">Close</button></div>
		<div id="viewFrame" class="viewFrame"></div>
	</div>

	<div id="continueFrameCont" class="popup">
		<div id="exitContinueFrame" class="exitFrame"><button>Close</button></div>
		<div id="viewContinueFrame" class="viewFrame">
			<br/><br/>
			You have graded all of the cells. Choose an option to continue.<br/>
			<button id="export">Export grade to file</button>
			<button onclick="router('patient')" class="patient-shade-1">Grade another image</button>
		</div>
	</div>

	{% if gradeSessions %}
	<div id="form-popup" class="popup">
		<div id="wrap-form">
		<h3>It looks like you have graded this image before. You can select from some of your saved data or start a new session.</h3>
		<form id="loadGradeForm">
			{% for g in gradeSessions %}
			<input type="radio" name="gradeSession" value={{g['gradeId']}} id="{{g['gradeId']}}">
			<label for="{{g['gradeId']}}">Time: {{g['timestamp']}} UTC  |  Cells Graded: {{g['cellsGraded']}}  |  Session: {{g['sessionId']}}</label><br/>
			{% endfor %}
			<input type="radio" name="gradeSession" value="-1" id="newOption">
			<label for="newOption">New grading session</label>
		</form>
		<button id="loadGradeBtn" class="color-hl-light" disabled>Select</button>
		</div>
	</div>
	{% endif %}

	<map name="map" id="gridMap">
	{# {% for i in coords %}
		<area id="cell_{{loop.index}}" shape="poly" coords="{{i}}" >
	{% endfor %} #}
	</map>


	<script>
		var GRADE_ID = -1;
	</script>


{% endblock %}


{% block js %}
<script src="{{url_for('static', filename='js/carousel.js')}}"></script>
<script src="{{url_for('static', filename='js/split.min.js')}}"></script>
<script src="{{url_for('static', filename='js/test.js')}}"></script>
<!-- <script src="{{url_for('static', filename='js/uploads.js')}}"></script> -->
<script>

$('document').ready()
{
	
	var gutterSize = 7;

	var leftRightScreenSplit = Split(['#leftScreen', '#rightScreen'], { 
		sizes : [45,55], 
		gutterSize: gutterSize,
		onDragEnd : function(){
			resize();
			// if (hasCellBeenDrawn == true)
			// 	drawCellManager(currentCell);
		},
		
	});

	
}
</script>

{% endblock %}
