{% extends "base.html" %}
{% block content %}

<div id="" class="">

	<h1>Hello, {{session['username']}}</h1>
	# images they are currently grading
	<h1>Continue Grading</h1>
	<h1>Grading Shortcuts</h1>

	<p>Right Arrow: Next Normal Image</p>
	<p>Left Arrow: Previous Normal Image</p>
	<p>On number row</p>
	<p>1 key: Submit Grade Option 1</p>
	<p>2 key: Submit Grade Option 2</p>
	<p>3 Key: Submit Grade Option 3</p>
	<hr>
	<h1>Tips</h1>
	<p>To turn hover mode back on, click on the cell that is currently graded to "unlock" it</p>
	<hr>
	<p>Git Release: {{version}}</p>
	<p><a href="http://mavcook.com">Maverick Cook</a>, <a href="">Dr. Andrew DeOrio</a></p>
</div>
{% endblock %}