{% extends "base.html" %}
{% block content %}

<div id="wrap-home" class="">

	<h1>Hello, {{session['username']}}</h1>

	<div>
		<h2>Continue Grading</h2>
		<p>Images where you have one or more open grading sessions</p>
		{% for x in currentImages %}
			<a class="toGradeLink" href="{{ url_for('gradeView.main_route', p=x['imgId']) }}">{{ x['referenceName'] }}</a>
		{% endfor %}
	</div>
	
	<br>
	<hr>

	<div id="banner">
		<div class="blob">
			<a href="{{ url_for('main.gallery_route', category='patient') }}"><p>Grade</p>
		</div>
		<div class="blob">
			<a href="{{ url_for('uploads.main_route') }}"><p>Upload</p></a>
		</div>
	</div>

	<br>

	<h2>Grading Shortcuts</h2>
	<ul>
		<li>Right Arrow Key: Next Cell</li>
		<li>Left Arrow Key: Previous Cell</li>
		<li>Up Arrow Key: Next control image</li>
		<li>Down Arrow Key: Previous control image</li>
		<li>Enter Key: Submit cell grade</li>
	</ul>
	<p>On number row</p>
	<ul>
		
		<li>1 key: Select Grade Option 1</li>
		<li>2 key: Select Grade Option 2</li>
		<li>3 Key: Select Grade Option 3</li>
		<li>4 Key: Select Grade Option 4</li>
	</ul>
	
	<hr>
	<p>Git Release: {{version}}</p>
	<p><a href="http://mavcook.com">Maverick Cook</a>, <a href="http://www.andrewdeorio.com/">Dr. Andrew DeOrio</a></p>
</div>
{% endblock %}