{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block content %}


	{% if type %}
	<a class="imgCont" id="uploadPrev" onclick="router('upload')">
		<div id="uploadPrevInner">
		Upload<br>
		<svg id="uploadIcon" fill="#C0C0C0" height="48" viewBox="0 0 24 24" width="48">
			<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
		</svg>
		</div>
	</a>
	{% else %}
	<a  class="imgPrev" id="uploadPrev" onclick="router('upload')">
		+
	</a>
	{% endif %}

	{% for p in images %}
	<div id="" class="imgCont">
		{% if type == 'patient' %}
		<a href="view?p={{p['imgId']}}" class="aPrev">
			<div id="imgPrev{{loop.index}}" class="imgPrev">
				<img src="{{ url_for('static', filename='images/thumbnails/' + p['imgId'] + '.' + p['format']) }}">
			</div>
			{% if imageGrades[p['imgId']] %}
				<div id="" class="wrap-graders">
					Graded
					<!--
					<div id="" class="wrap-graders-dropdown">
						<div class="wrap-graders-dropdown-list">
							<ul>
							{% for g in imageGrades[p['imgId']] %}
							<li>{{g['userId']}}</li>
							{% endfor %}
							</ul>
						</div> <!-- END .wrap-graders-dropdown-list 
					</div>
					-->
				</div>
			{% else %}
				Not graded
			{% endif %}
		</a>
		
		{% else %}
			<div id="imgPrev{{loop.index}}" class="imgPrev">
				<img src="{{ url_for('static', filename='images/thumbnails/' + p['imgId'] + '.' + p['format']) }}">
			</div>
		{% endif %}
		<form action="{{ url_for('uploads.upload_route') }}" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="op" value="delete">
			<input type="hidden" name="imgId" value="{{p['imgId']}}">
			<input type="submit" value="Delete">
		</form>
	</div>
	{% endfor %}
{% endblock %}