{% block header %}

		<div class="wrap-men-el">
			<a class="men-el" href="{{ url_for('main.main_route') }}">Home</a>

			<a class="men-el" href="{{ url_for('main.gallery_route', category='patient') }}">Grade</a>

			<a class="men-el" href="{{ url_for('uploads.main_route') }}">Upload</a>
		</div>

		<div class="wrap-men-el" id="topmenu-tools">
				<div id="toolbarLabel"><span>Toolbar:</span></div>
				<div class="toolbarEl">
						<a id="showControlBtn">Show Control</a>
						<span class="tooltip">Hold down to show the control image</span>
					</div><!--
					--><div class="toolbarEl">
						<a id="toggleGridsBtn" onclick="toggleGrids()">Hide grid</a>
						<span class="tooltip">Click to hide or show the grid</span>
					</div><!--
					--><div class="toolbarEl">
						<a id="export">Export grade</a>
						<span class="tooltip">Save the grade data to your computer</span>
					</div>
					<!--
					--><div class="toolbarEl">
						<a id="highlight">Ungraded</a>
						<span class="tooltip">Ungraded cells will be outlined in red</span>
					</div>
		</div>

		<div class="wrap-men-el">
			<a class="men-el" href="{{ url_for('user.main_route') }}">Account</a>
			<a class="men-el" href="{{ url_for('user.logout_route') }}">Logout</a>
		</div>

{% endblock %}
