{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/split.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
{% endblock %}
{% block headnav %}{% endblock %}
{% block content %}
	
	

	
	
	<div id="wrapMenuBar">
		<div id="dropMenu1" class="wrap-menu">
			<button id="menuBtn" class="menu-btn">Menu</button>
			<div id="menuDropdownCont" class="wrap-drop-down">
				<div id="menuDropdown" class="drop-down">
					<button onclick="router('patient')" class="patient-shade-1">Patients</button>
					<button onclick="router('normal')" class="normal-shade-1">Normals</button>
					<button onclick="router('upload')">Upload</button>
					<button onclick="router('his')">Help / Info</button>
				</div>
			</div>
		</div> <!-- END #menuBar -->

	</div><!-- END #wrapMenuBar -->

	<div id="wrapMainScreen">
		<div id="leftScreen" class="split split-horizontal" >
			<div id="fullView">
				{% if not img['imgId'] %}
						<button onclick="router('patient')" class="patient-shade-1 btn-large">Click to Grade an Existing Image</button>
						<button onclick="router('upload')" class="btn-large">Click to Upload a New Control or Patient Image</button>
				{%  else %}

				{% set faSrc = url_for('static', filename='images/uploads/' + img['imgId'] + '.' + img['format']) %}
				{% set gridSrc = url_for('static', filename='images/uploads/grid_' + img['imgId'] + '.' + img['format']) %}
				<div style="position:relative;">
					<img  id="mainFA_image" class="pic" src="{{faSrc}}">
					<img src="{{gridSrc}}" id="grid" class="pic overlay grid" usemap="#map" style="display:block">
					<canvas id="mainFA_canvas" class="traceCanvas" width="0" height="0"></canvas>
				</div>
				<div id="mainNormal">
					<img id="normalImg" class="pic" src="">
					<img id="normalGrid" class="pic overlay grid" src="" >
					<canvas id="norm_canvas" class="traceCanvas" width="0" height="0"></canvas>					
				</div>
				{% endif %}
			</div>
		</div>

		{% if not img['imgId'] %}
		{% set lock = 'lock' %}
		{% endif %}
		<div id="rightScreen" class="split split-horizontal {{lock}}" >
			<div id="wrapGrading">
				<div id="wrapCellControl" class="margin-bottom-small">
					
					<div class="maintain-ratio">
						<div id="cellPreview" class="cellControlModule">
							<canvas id="cellViewCanvas" class="cellCanvas" width="0" height="0"></canvas>
						</div>
					</div><!--
					--><div class="maintain-ratio">
						<div id="cellTools" class="cellControlModule">
							<div id="cellNavigator" class="margin-bottom-small">
								<button id="prevCell" class="half-width button-row-el btn-seperator-right" onclick="nextCell(-1)">Prev Cell</button>						
								<button id="nextCell" class="half-width button-row-el" onclick="nextCell()">Next Cell</button>
							</div>
							<div id="wrapContrastControl" class="margin-bottom-small">
								<div id="contrastSliderLabel">
									<p>Contrast: <span id="contrastOutputPercent">100</span>%</p>
								</div>
								<div id="wrapContrastSlider">
									<div id="contrastSlider" class=""></div><div id="cSlidFix"></div>
								</div>
							</div>
							<div id="wrapCellStats">
								<p id="cellNumberP">Cell: <span id="cellNumber"></span></p>
								<p id="gradeStatus"></p>
								<p id="gradeData"></p>
								<p id="notif"></p>
							</div>
						</div><!-- END #cellTools -->
						<div id="associatedFeatureExample" class="cellControlModule asscFeatureEl">
							<img id="associatedFeaturePreview" src=""/>
						</div> <!-- END #associatedFeatureExample -->
					</div>

				</div><!-- END #wrapCellControl -->

				<div id="wrapGradeOptions" class="margin-bottom-small">
					<div id="primaryGrade" class="firstClassOptions margin-bottom-small">
						<form id="gradeForm" class="submit-input-container">
							<input type="radio" name="grade" value="perfused" id="gradePerf">
							<input type="radio" name="grade" value="non-perfused" id="gradeNonPerf">
							<input type="radio" name="grade" value="blockage" id="gradeBlock">
							<label for="gradePerf" class="button button-row-el third-width btn-seperator-right">Perfused</label>
							<label for="gradeHypPerf" class="button button-row-el third-width btn-seperator-right">Hypoperfused</label>
							<label for="gradeNonPerf" class="button button-row-el third-width">Non-Perfused</label>
						</form>
						<div id="asscFtNameExampleInfo" class="asscFeatureEl">
							<h2 id="asscFtName"></h2>
							<p id="asscFtDesc"></p>
						</div>
					</div>

					<div id="secondaryGrades">
						<div id="wrapAssociatedOptions" class="secondClassOptions">
							<div id="associatedFeatures" class="submit-input-container">
								{% for a in associatedFeatures %}
								<div class="option-box-element margin-bottom-small">
									<input class="optional-input" type="checkbox" id="option_{{a.optionId}}" name="associatedFeature" value="{{a.name}}">
									<label for="option_{{a.optionId}}" class="checkbox"><div class="check-select"></div></label>
									<label for="option_{{a.optionId}}" class="options-label">{{a.name}}</label>
								</div>
								<div class="example-box-element margin-bottom-small">
									<div class="wrapExampleSelection">
										<svg class="asscFeatureEl2" onclick="getExample(-1)" fill="#C0C0C0" height="35" viewBox="0 0 24 24" width="35"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
										<div class="selectExampleBtn" onclick="toggleExample(this, '{{a.name}}')"><p>?</p></div>
										<svg class="asscFeatureEl2" onclick="getExample(1)" fill="#C0C0C0" height="35" viewBox="0 0 24 24" width="35"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>	
									</div>			
								</div>
								{% endfor %}
							</div>
						</div>
						<div id="definitionsToolbar">
							
						</div>
					</div> <!-- END #secondaryGrades -->

				</div><!--END #wrapGradeOptions -->

				<button id="submitGrade" onclick="submitGrade()">Submit</button>
			</div> <!-- END #wrapGrading -->

			<!--<div id="toolbar">
				<div class="toolbarEl">
					<img src="/static/images/ic_grid_on.svg"/>
				</div>
			</div>-->
			
		</div><!-- END #rightScreen -->

		<div id="wrapSideBar"></div><!-- END #wrapSideBar -->
	</div><!-- END #wrapMainScreen -->

	<div id="wrapStatusBar"></div><!-- END #wrapStatusBar -->
	
	<div id="viewFrameCont" class="popup">
		<div id="exitFrame" class="exitFrame"><button>Close</button></div>
		<div id="viewFrame" class="viewFrame"></div>
	</div>

	<div id="continueFrameCont" class="popup">
		<div id="exitContinueFrame" class="exitFrame"><button>Close</button></div>
		<div id="viewContinueFrame" class="viewFrame">
			<br/><br/>
			You have graded all of the cells. Choose an option to continue.<br/>
			<button id="export">Export grade to file</button>
			<button onclick="router('patient')" class="patient-shade-1">Grade another image</button>
		</div>
	</div>

	{% if gradeSessions %}
	<div id="form-popup" class="popup">
		<div id="wrap-form">
		<h3>It looks like you have graded this image before. You can select from some of your saved data or start a new session.</h3>
		<form id="loadGradeForm">
			{% for g in gradeSessions %}
			<input type="radio" name="gradeSession" value={{g['gradeId']}} id="{{g['gradeId']}}">
			<label for="{{g['gradeId']}}">Time: {{g['timestamp']}} UTC  |  Cells Graded: {{g['cellsGraded']}}  |  Session: {{g['sessionId']}}</label><br/>
			{% endfor %}
			<input type="radio" name="gradeSession" value="-1" id="newOption">
			<label for="newOption">New grading session</label>
		</form>
		<button id="loadGradeBtn" onclick="loadGrades()">Select</button>
		</div>
	</div>
	{% endif %}

	<map name="map" id="gridMap">
	{% for i in coords %}
		<area id="cell_{{loop.index}}" shape="poly" coords="{{i}}" >
	{% endfor %}
	</map>

	<script>
		var xOffsetPercent = {{xOffset}}, yOffsetPercent = {{yOffset}};
		var url_view = "{{url_for('main.main_route')}}";
		var url_upload = "{{url_for('uploads.upload_route')}}";
		var url_his =  "{{url_for('his.his_route')}}";
		SCALE_GRID_RATIO = {{gridScaleRatio}};
		SCALE_GRID_RATIO_NORMAL = 1;
		var VERSION = '{{gitVersion}}';
		var GRADE_ID = -1;
	</script>


{% endblock %}


{% block js %}
<script src="{{url_for('static', filename='js/carousel.js')}}"></script>
<script src="{{url_for('static', filename='js/split.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/uploads.js')}}"></script>
<script>

$('document').ready()
{
	var gutterSize = 7;

	var leftRightScreenSplit = Split(['#leftScreen', '#rightScreen'], { 
		sizes : [45,55], 
		gutterSize: gutterSize,
		onDragEnd : function(){
			remap();
			if (hasCellBeenDrawn == true)
				drawCellManager(currentCell);
		} 
	});

	remap();
}
</script>

{% endblock %}
